body {
    background-color: #1c1c1e;
    color: white;
    font-family: Lato;
}

.nav-voltar {
    margin-left: 10px;
    margin-top: 15px;
}

.titulo {
    margin-left: 14%;
}

#pagina-completa{
    margin: 0 10% 5% 10%;
}

.sub-titulo-pagamento{
    color: rgba(255, 255, 255, 0.555);
    margin-bottom: 3%;
}

.area-plano{
    border: 3px solid rgb(136, 134, 134);
    border-radius: 5px;
    padding: 1%;
    width: 70%;
    margin: auto auto 5% auto;
}

.adicionais-carro {
    display: flex;
    justify-content: space-between;
}

.plano-prata {
    font-size: 20px;
    margin-left: 5%;
}

.lista-adicionais{
    list-style: none;
}

ul li{
    margin-bottom: 20px;
}

ul li img{
    vertical-align: bottom;
}

.imagem-carro {
    width: 250px;
    border-radius: 20px;
}

.carro-nome {
    margin-right: 25px;
}
.carro-nome p {
    font-size: 20px;
}

.total-alterar{
    display: flex;
    justify-content: space-between;
    margin: 4% 5% 0 5%;
}

.total-alterar p{
    font-size: 20px;
    margin-top: 0;
}

.botao-alterar-plano{
    height: 35px;
    width: 150px;
    border-style: none;
    border-radius: 10px;
}

.sessao-pagamento{
    width: 70%;
    margin: auto;
    padding-left: 8%;
}

.area-pagamento{
    display: flex;
    justify-content: center;
}

.area-pagamento input, .area-pagamento select { 
    background: #1c1c1e;
    color: white;
    border-radius: 7px;
    border: 2px solid white !important; 
}

.titulo-pagamentos{
    font-size: 30px;
    text-align: center;
}

.botoes-pagamento{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 2%;
}

.botoes-pagamento input {
    background-color: #1c1c1e;
    color: white;
    margin-bottom: 12%;
    padding: 13px;
    width: 100%;
    border-radius: 7px;
    border: 2px solid white;
}

.dados-cartao{
    width: 80%;
    margin-left: 10%;
}

.dados-cartao input, .dados-cartao select{
    display: block;
    padding: 10px 6px;
    border-radius: 5px;
    border-style: none;
    margin-top: 5px;
}

.nr-cartao, .nm-titular, .parcelas{
    width: 55%;
}

.validade, .seguranca-cartao{
    width: 40%;
}

.val, .cvc{
    float: right;
}

.cvc, .titular, .parc{
    margin-top: 10px;
}

.pag-pix, .pag-bol{
    width: 86%;
    margin-left: 5%;
}

.pag-pix p, .pag-bol p {
    margin: 0 10px 0 0;
}

.botao-pagamento{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.botao-concluir{
    width: 237px;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
}

/*INTERAÇÕES DE BOTÕES*/
.posicao-botoes input:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.hidden-div {
    display: none;
}

.botao-concluir:hover, .botao-alterar-plano:hover{
    opacity: 0.85;
    color: black;
}

/*AREA DE RESPONSIVIDADE*/

@media screen and (max-width: 480px) {
    .nr-cartao, .nm-titular, .parcelas{
        width: 65%;
    }
    
    .validade, .seguranca-cartao{
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .botao-alterar-plano{
        height: 35px;
        width: 50%;
    }
    
    .imagem-carro {
        width: 82%;
        border-radius: 20px;
    }
    
    .nr-cartao, .nm-titular, .parcelas{
        width: 55%;
    }

    .botao-concluir{
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .titulo {
        margin-left: 0;
    }

    h1{
        text-align: center;
        margin-top: 10px;
    }

    #pagina-completa{
        margin: 0 5% 4% 5%;
    }

    .sub-titulo-pagamento{
        margin-bottom: 7%;
        text-align: center;
    }

    .plano-prata {
        font-size: 20px;
        margin-left: 3%;
    }

    .area-plano{
        width: 85%;
        margin: auto auto 5% auto;
    }

    .adicionais-carro {
        display: block;
    }

    .lista-adicionais{
        padding-left: 20px;
    }

    .carro-nome{
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    .imagem-carro {
        width: 60%;
        border-radius: 20px;
    }

    .total-alterar{
        display: block;
        margin: 4% 5%;
    }

    .botao-alterar-plano{
        height: 35px;
        width: 40%;
    }

    .botao-plano{
        display: flex;
        justify-content: center;
    }

    .sessao-pagamento{
        padding-left: 0;
        width: 90%;
    }

    .botoes-pagamento{
        display: flex;
        align-items: center;
        width: 100%;
    }

    #button1, #button2, #button3{
        margin-bottom: 15px;
    }

    .area-pagamento{
        display: block;
        width: 100%;
    }

    .dados-cartao {
        width: 90%;
        margin-left: 5%;
    }

    .nr-cartao, .nm-titular, .parcelas{
        width: 45%;
    }
    
    .validade, .seguranca-cartao{
        width: 55%;
    }
    
    .val, .cvc{
        float: right;
        width: 30%;
    }

    .parc{
        margin-bottom: 5%;
    }

    .pag-pix, .pag-bol{
        display: flex;
        text-align: center;
        width: 90%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1025px) {
    .lista-adicionais{
        width: 100%;
    }

    .carro-nome{
        margin-left: 15%;
    }

    .sessao-pagamento{
        padding-left: 0;
    }

    .nr-cartao, .nm-titular, .parcelas{
        width: 55%;
    }
    
    .validade, .seguranca-cartao{
        width: 35%;
    }

    .val, .cvc{
        float: right;
        width: 40%;
    }
}