body {
    font-family: "Lato", sans-serif !important;
    background-color: #1c1c1e !important;
    }
    
    header {
    padding-inline: 10% !important;
    margin-top: 30px;
    }

.check-circle{
    display: flex;
    align-items: center;
}

.container{
    height: 6em;
    position: relative;
}

.confirmacao{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.check-circle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
}
.fechar{
    min-height: 31px;
    max-width: 98%;

}