
body {
  font-family: "Lato", sans-serif !important;
  background-color: #1c1c1e !important;
}

form {
  height: 100% !important;
}

input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  
  -webkit-appearance: none;
  margin: 0;
}

.form-check-input {
  width: 19px !important;
  height: 19px !important;

  border: #ffff 2px solid !important;
  background-color: #1c1c1e !important;
  cursor: pointer !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}


header {
  padding-inline: 10% !important;
  margin-top: 30px;
}

main .benefits {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .card {
  height: 42rem !important;
  width: 22rem !important;
}

main .card:last-child {
  background-color: #1c1c1e !important;
}

main .card-info .hours-input,
main .card-info .months-input {
  width: 3.3rem;
  background: none;
  border: none;

  color: #6c757d;
}

main .card-info .hours-input:focus,
main .card-info .months-input:focus {
  outline: 0;
}

main .card-info .hours-input::placeholder,
main .card-info .months-input::placeholder {
  
  color: #6c757d;
  opacity: 1; 
}

main .card-info .hours-input:-ms-input-placeholder,
main .card-info .months-input:-ms-input-placeholder {
  color: #6c757d;
}

main .card-info .hours-input::-ms-input-placeholder,
main .card-info .months-input::-ms-input-placeholder {
  color: #6c757d;
}

main .benefits .benefit .form-check-input {
  width: 19px !important;
  height: 19px !important;

  border: #1c1c1e 2px solid !important;
  background-color: #1c1c1e !important;
}

main .benefits .benefit .form-check-input:focus {
  box-shadow: none;
}

main .benefits-custom {
  padding: 0 !important;
}
