body {
  font-family: "Lato", sans-serif !important;
}

header {
  padding-inline: 10% !important;
  margin-top: 30px;
}

main .benefits {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .card-info .hours-input {
  width: 3.3rem;
  background: none;
  border: none;

  color: #6c757d;
}

main .card-info .hours-input:focus {
  outline: 0;
}

main .card-info .hours-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c757d;
  opacity: 1; /* Firefox */
}

main .card-info .hours-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6c757d;
}

main .card-info .hours-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6c757d;
}

main .benefits .benefit .form-check-input {
  width: 19px !important;
  height: 19px !important;

  border: #212529 2px solid !important;
  background-color: #212529 !important;
  cursor: pointer !important;
}

main .benefits .benefit .form-check-input:focus {
  box-shadow: none;
}

main .benefits-custom {
  padding: 0 !important;
}

main .benefits-custom .benefit .form-check-input {
  width: 19px !important;
  height: 19px !important;

  border: #ffff 2px solid !important;
  background-color: #212529 !important;
  cursor: pointer !important;
}

main .benefits-custom .benefit .form-check-input:focus {
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
